<!doctype html>
<html>
<head>
  <title>Maybe I'll get Hired!</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container">
  <div class="page-header text-center">
    <h1>Welcome, <%= user.local.firstname %>! You're going to kinda sorta like this.</h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h3>User Information</h3>
          <p>
            <strong>First Name</strong>: <%= user.local.firstname %><br>
            <strong>Last Name</strong>: <%= user.local.lastname %><br>
            <strong>ID</strong>: <%= user._id %><br>
            <strong>Username</strong>: <%= user.local.username %><br>
            <strong>Password</strong>: <%= user.local.password %>
          </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <h3>Built with:</h3>
          <p>
            <strong>Nodejs</strong> server<br>
            <strong>Expressjs</strong> server framework<br>
            <strong>Passportjs</strong> authentication middleware<br>
            <strong>MongoDB</strong> nosql database
          </p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <h3>Downfalls:</h3>
          <p><strong>Angularjs</strong>: I didn't have time nor a solid understanding of exactly to do here. The Angularjs applications I have worked on primarily use node as an API to return a json feed of data. Since we're only returning one form submission -- I figured the Express ejs templating engine would be sufficient for my lack of time and knowledge.</p>
          <p><strong>Storage</strong>: I didn't follow the path your company currently uses of a SQL DB nor trying Redis. I went with MongoDB due to the simplicity and knowledge.</p>
          <p><strong>UX</strong>: This was a backend task -- didn't really touch the front-end.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>